<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lookOut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,106}</string>
                <key>spriteSourceSize</key>
                <string>{264,106}</string>
                <key>textureRect</key>
                <string>{{1,147},{264,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,144}</string>
                <key>spriteSourceSize</key>
                <string>{349,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{349,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle1_crash.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,128}</string>
                <key>spriteSourceSize</key>
                <string>{216,128}</string>
                <key>textureRect</key>
                <string>{{250,394},{216,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,217}</string>
                <key>spriteSourceSize</key>
                <string>{232,217}</string>
                <key>textureRect</key>
                <string>{{267,160},{232,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>obstacle2_crash.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,137}</string>
                <key>spriteSourceSize</key>
                <string>{157,137}</string>
                <key>textureRect</key>
                <string>{{352,1},{157,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>obstacle3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,204}</string>
                <key>spriteSourceSize</key>
                <string>{247,204}</string>
                <key>textureRect</key>
                <string>{{1,255},{247,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle3_crash.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,115}</string>
                <key>spriteSourceSize</key>
                <string>{204,115}</string>
                <key>textureRect</key>
                <string>{{1,461},{204,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Obstacle_plist.png</string>
            <key>size</key>
            <string>{490,577}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a04bb5ecdbae219a232074a3337ab1b:0649e3154565e8102bcae3e0a4ae664f:84c82723a9cd5027715d792adff288d3$</string>
            <key>textureFileName</key>
            <string>Obstacle_plist.png</string>
        </dict>
    </dict>
</plist>
