<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,220}</string>
                <key>spriteSourceSize</key>
                <string>{330,220}</string>
                <key>textureRect</key>
                <string>{{343,1677},{330,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,220}</string>
                <key>spriteSourceSize</key>
                <string>{340,220}</string>
                <key>textureRect</key>
                <string>{{1,1677},{340,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,220}</string>
                <key>spriteSourceSize</key>
                <string>{314,220}</string>
                <key>textureRect</key>
                <string>{{436,1025},{314,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1022,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{1022,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>night.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,433}</string>
                <key>spriteSourceSize</key>
                <string>{650,433}</string>
                <key>textureRect</key>
                <string>{{1,1025},{650,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,220}</string>
                <key>spriteSourceSize</key>
                <string>{307,220}</string>
                <key>textureRect</key>
                <string>{{436,1247},{307,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOff.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,220}</string>
                <key>spriteSourceSize</key>
                <string>{264,220}</string>
                <key>textureRect</key>
                <string>{{565,1673},{264,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soundOn00.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{974,1061},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOn01.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1009,1563},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,161}</string>
                <key>spriteSourceSize</key>
                <string>{202,161}</string>
                <key>textureRect</key>
                <string>{{436,1469},{202,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1009,1785},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,220}</string>
                <key>spriteSourceSize</key>
                <string>{223,220}</string>
                <key>textureRect</key>
                <string>{{967,1338},{223,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,220}</string>
                <key>spriteSourceSize</key>
                <string>{235,220}</string>
                <key>textureRect</key>
                <string>{{787,1604},{235,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,220}</string>
                <key>spriteSourceSize</key>
                <string>{311,220}</string>
                <key>textureRect</key>
                <string>{{752,1025},{311,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,188}</string>
                <key>spriteSourceSize</key>
                <string>{176,188}</string>
                <key>textureRect</key>
                <string>{{1027,883},{176,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>u=1648991020,3434841161&amp;fm=21&amp;gp=0.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,214}</string>
                <key>spriteSourceSize</key>
                <string>{880,214}</string>
                <key>textureRect</key>
                <string>{{1027,1},{880,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>welcome.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,220}</string>
                <key>spriteSourceSize</key>
                <string>{264,220}</string>
                <key>textureRect</key>
                <string>{{745,1338},{264,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pic.png</string>
            <key>size</key>
            <string>{1242,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f1ac3c5dd39059bde9451d9dfdc559:75e6e6b50d5af72249d6c658714667fe:59d5bf4ee1827edbf3ab97b3b7b80413$</string>
            <key>textureFileName</key>
            <string>pic.png</string>
        </dict>
    </dict>
</plist>
