<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1022,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{1022,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>night.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,433}</string>
                <key>spriteSourceSize</key>
                <string>{650,433}</string>
                <key>textureRect</key>
                <string>{{1,1027},{650,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,220}</string>
                <key>spriteSourceSize</key>
                <string>{307,220}</string>
                <key>textureRect</key>
                <string>{{436,1249},{307,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,161}</string>
                <key>spriteSourceSize</key>
                <string>{202,161}</string>
                <key>textureRect</key>
                <string>{{436,1558},{202,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{777,1471},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,220}</string>
                <key>spriteSourceSize</key>
                <string>{223,220}</string>
                <key>textureRect</key>
                <string>{{777,1249},{223,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,220}</string>
                <key>spriteSourceSize</key>
                <string>{235,220}</string>
                <key>textureRect</key>
                <string>{{749,1027},{235,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,220}</string>
                <key>spriteSourceSize</key>
                <string>{311,220}</string>
                <key>textureRect</key>
                <string>{{436,1027},{311,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,188}</string>
                <key>spriteSourceSize</key>
                <string>{176,188}</string>
                <key>textureRect</key>
                <string>{{599,1558},{176,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pic.png</string>
            <key>size</key>
            <string>{1024,1761}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d863a21426ab287727b4ab549948887b:80816a8e0883619123f9bc2287f71e3e:59d5bf4ee1827edbf3ab97b3b7b80413$</string>
            <key>textureFileName</key>
            <string>pic.png</string>
        </dict>
    </dict>
</plist>
